.flex-container div{
  display: flex; 
  background-color: neon yellow;
  border:4px hotpink;
  height: 100 px;
  padding: 10px;
}

.flex-item {
  background-color: hotpink;
  margin: 10px;
  padding: 20px;
  border: 1px solid white;
}

 /* this is the CSS background selection  */
section {
    background-color: hotpink;
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: lighter;

  }

 /* this is the CSS selection that highlights 3 seperate areas, the black is the font color */
  div{
    background-color:greenyellow;
      font-size: 20px;
      color: black; 
  }
/* this is the paragraph color */
   p{
    background-color: greenyellow;

   }
 
/* this is the button ID selector I nested the button element into a div called Home, Welcome, Skills, About Me  */
.button {
  /* margin-left: auto;*/
  /* padding: 8px 16 px;*/
  color: whitesmoke;   
  color: black;

}
/* the button hover will highlight red dwhen hovering over home*/
.button:hover {
  border: 2px solid red;
}



