 /* this is the CSS background selection  */
section {
    background-color: hotpink;
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: lighter;

  }

 /* this is the CSS selection that highlights 3 seperate areas, the black is the font color */
  div{
    background-color:greenyellow;
      font-size: 20px;
      color: black; 
  }
/* this is the paragraph color */
   p{
    background-color: greenyellow;

   }
 /* this is where it says I'm nested this says hey there button
   .second {
    color: whitesmoke;
    font-size: 36px
   }/
/* this is the button ID selector I nested the button element into a div called Home, Welcome, Skills, About Me  */
.button {
  /* margin-left: auto;*/
  /* padding: 8px 16 px;*/
  color: whitesmoke;   
  color: black;

}
/* the button hover will highlight red dwhen hovering over home*/
.button:hover {
  border: 2px solid red;
}


/* This is the welcome button at top left, it has a class and id selector, 
.welcome{
  font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
}

/*ul{
  /*this removes the dots on the list items  */
  list-style-type: none;
  display: flex;
} 

